.first {
    background-color: white;
    height:60px;




  }

  * {
    margin: 0px;
  }

  .img {

    background-image: url(../Image/m.png);

  

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;

  }

  .form {
    margin-right: 10%;
    margin-left: 55%;
    padding-top: 10%;
width: 400px;
float: right;


  }

  form {
    background-color:white;
    
    border: 3px solid #f1f1f1;
    height: 350px;
    border-radius: 5px;
   
  }

  

  

  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }

  button {
    background-color: #0376B8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }

  button:hover {
    opacity: 0.8;
  }

  

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  a {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
     padding: 10px; 
    /* background-color: white; */
  }


  .container {
    padding: 16px;
  }
  label{
font-family: sans-serif;


  }

 
  
 